<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle"  src="visual.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Data Visualize</h2>
          <p>Data visualization is a general term that describes any effort to help people understand the significance of data by placing it in a visual context. Patterns, trends and correlations that might go undetected in text-based data can be exposed and recognized easier with data visualization software</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{url_for('static',filename="viusal.jpg")}}" alt="Generic placeholder image" width="140" height="140">
          <h2>Potential Customers</h2>
          <p>The definition of a potential customer will depend on your type of business. For example if you are opening a small shop selling office furniture then your market will be all the companies within your delivery range. As in the example above it is likely that most companies would have only one person in charge of purchasing furniture hence you wouldn't take the size of these businesses in consideration when assessing the number of potential customers. You would however factor it when assessing the value of the market</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{{url_for('static',filename="pot.jpg")}}" alt="Generic placeholder image" width="140" height="140">
          <h2>Target Need</h2>
          <p>The target market is the type of customers you target within the market. For example if you are selling jewellery you can either be a generalist or decide to focus on the high end or the lower end of the market. This section is relevant when your market has clear segments with different drivers of demand. In my example of jewels, value for money would be one of the drivers of the lower end market whereas exclusivity and prestige would drive the high end.<br>Now it is time to focus on the more qualitative side of the market analysis by looking at what drives the demand.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Market Value.</h2>
          <p class="lead">Estimating the market value is often more difficult than assessing the number of potential customers. The first thing to do is to see if the figure is publicly available as either published by a consultancy firm or by a state body. It is very likely that you will find at least a number on a national level.
If not then you can either buy some market research or try to estimate it yourself.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Market Need</h2>
          <p class="lead">This section is very important as it is where you show your potential investor that you have an intimate knowledge of your market. You know why they buy!<br>
Here you need to get into the details of the drivers of demand for your product or services. One way to look at what a driver is, is to look at takeaway coffee. One of the drivers for coffee is consistency. The coffee one buys in a chain is not necessarily better than the one from the independent coffee shop next door. But if you are not from the area then you don't know what the independent coffee shop's coffee is worth. Whereas you know that the coffee from the chain will taste just like in every other shop of this chain. Hence most people on the move buy coffee from chains rather than independent coffee shops.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Competition</h2>
          <p class="lead">The idea here is to analyse your competitors angle to the market in order to find a weakness that your company will be able to use in its own market positioning.<br>
One way to carry the analysis is to benchmark your competitor against each of the key drivers of demand for your market (price, quality, add-on services, etc.) and present the results in a table</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Zeroes, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
